<h1>home</h1>
<button class="weatherButtons" data-location="london">Get weather in London</button>
<button class="weatherButtons" data-location="new-york">Get weather in New York</button>
<button class="weatherButtons" data-location="tokyo">Get weather in Tokyo</button>
<p id="weather_output"></p>