<div class="page-header">
    <h1>Weather App</h1>
</div>
<div class="row extraMargin">
    <div class="col-md-12">
        <button class="weatherButtons btn btn-default" data-location="london" data-timezone="Europe/London">Get weather in London</button>
        <button class="weatherButtons btn btn-default" data-location="new-york" data-timezone="America/New_York">Get weather in New York</button>
        <button class="weatherButtons btn btn-default" data-location="tokyo" data-timezone="Asia/Tokyo">Get weather in Tokyo</button>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4  app-output">
        <div class="row">
            <div class="col-md-12">
                <h2 id="city-output" class="lead">Loading</h2>
            </div>
            <div class="col-md-6">
                <p id="weather-output" class="lead"></p>
                <button class="toggleButton btn btn-default">Toggle unit</button>
            </div>
            <div class="col-md-6">
                <div class="clock">
                    <div class="clock-face">
                        <div class="hand hour-hand"></div>
                        <div class="hand min-hand"></div>
                        <div class="hand second-hand"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>