/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

$font-stack:    'Arima Madurai', cursive;

.extraMargin {
    margin-bottom: 15px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
body {
    background: #00BFFF;
    background-size: cover;
}

.london-bg {
    background-image: image-url('london-bg.jpg') !important;
}
.new-york-bg {
    background-image: image-url('new-york-bg.jpg') !important;
}
.tokyo-bg {
    background-image: image-url('tokyo-bg.jpg')  !important;
}

.app-output {
    background: rgba(0,0,0,0.6);
    color: #ffffff;
    .divide {
        border-bottom: 1px solid #ffffff;
    }
    #city-output {
        font-family: $font-stack;
        font-size: 6em;
        line-height:0.8;
    }
    
    .temperature {
        font-family: $font-stack;
        font-size: 4em;
    }
    
    /* time */
    .clock {
        width: 15rem;
        height: 15rem;
        border: 1px solid white;
        border-radius: 50%;
        margin: 5px auto;
        position: relative;
        padding: 2rem;
    }
            
    .clock-face {
        position: relative;
        width: 100%;
        height: 100%;
        transform: translateY(-3px);
        /* account for the height of the clock hands */
    }
    
    .hand {
        width: 50%;
        height: 3px;
        background: white;
        position: absolute;
        top: 50%;
        transform: rotate(90deg);
        transform-origin: 100%;
        transition: all 0.05s;
        transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    }
    .hour-hand {
        width:30%;
        left: 20%;
        background: #dddddd;
    }
    .second-hand {
        height: 1px;
        width: 45%;
        left: 5%;
    }
}

h1 {
    font-family: $font-stack;
}


/* footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
  opacity: 0.8;
}