<!DOCTYPE html>
<html>
<head>
  <title>WeatherApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body class="london-bg">
<div class="container text-center">
  <%= yield %>
</div>
<footer class="footer">
  <div class="container">
    <p class="text-center"><a href="https://www.yahoo.com/?ilc=401" target="_blank"> <img src="https://poweredby.yahoo.com/purple.png" width="134" height="29"/> </a>
</p>
  </div>
</footer>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
